<?xml version="1.0"?>
<configuration>

  <configSections>
    
  </configSections>
  <system.windows.forms jitDebugging="true"/>
  <connectionStrings>
    <add name="db" connectionString="Data Source=db.sdf" />
    <add name="TrainingCatalog.Properties.Settings.dbConnectionString"
      connectionString="Data Source=|DataDirectory|\bin\Debug\db.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="TrainingCatalog.Properties.Settings.dbConnectionString1"
      connectionString="Data Source=|DataDirectory|\db.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <appSettings>
    <add key="databasePath" value="db.sdf" />
  </appSettings>
</configuration>