<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="accdbTosdf.Properties.Settings.Database2ConnectionString"
      connectionString="Data Source=|DataDirectory|\Database2.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <appSettings>
    <add key="accdb" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Database2.accdb"/>
    <add key="sdf" value="Data Source=Database1.sdf"/>
  </appSettings>
</configuration>